
{% extends 'userprofile/admin2/base.html' %}
{% load static %}


{% block content %}

<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <!--<img src="{% static 'admin2/vendors/images/banner-img.png' %}" alt="">-->
                    <img src="{{request.user.userprofile.get_avatar}}" style="height: 330px;" alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Welcome back <div class="weight-600 font-30 text-blue">{% firstof request.user.get_full_name request.user.username %}!</div>
                    </h4>
                    <p class="font-18 max-width-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde hic non repellendus debitis iure, doloremque assumenda. Autem modi, corrupti, nobis ea iure fugiat, veniam non quaerat mollitia animi error corporis.</p>
                </div>
            </div>
        </div>
    </div>  


    <div class="row">
        <div class="col-xl-3 mb-30">
            <div class="card-box height-100-p widget-style1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="progress-data">
                        <div id="chart"></div>
                    </div>
                    <div class="widget-data">
                        <div class="h4 mb-0" >2020</div>
                        <input type="hidden" id="yy" value="{{t}}">
                        <div class="weight-600 font-14">Contact</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 mb-30">
            <div class="card-box height-100-p widget-style1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="progress-data">
                        <div id="chart2"></div>
                        
                    </div>
                    <div class="widget-data">
                        <div class="h4 mb-0">400</div>
                        <div class="weight-600 font-14">Deals</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 mb-30">
            <div class="card-box height-100-p widget-style1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="progress-data">
                        <div id="chart3"></div>
                    </div>
                    <div class="widget-data">
                        <div class="h4 mb-0">350</div>
                        <div class="weight-600 font-14">Campaign</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 mb-30">
            <div class="card-box height-100-p widget-style1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="progress-data">
                        <div id="chart4"></div>
                    </div>
                    <div class="widget-data">
                        <div class="h4 mb-0">$6060</div>
                        <div class="weight-600 font-14">Worth</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Users Display</h2>
        <div class="table-responsive">
        <table class="data-table table nowrap">
            <thead>
                <tr>
  
                    <th scope="col" style="width: 100px;">User ID</th>
                    <th scope="col" style="width: 100px;">Username</th>
                    <th scope="col" style="width: 100px;">User First Name </th>
                    <th scope="col" style="width: 100px;">User Last Name</th>
                    <th scope="col" style="width: 100px;">User Team</th>
      
                  </tr>

            </thead>

            <tbody>
                {% for users in user %}
                
                  <tr>
                      <td style="width: 100px;" scope="row">{{users.id}} </td> 
                      <td style="width: 100px;">{% firstof users.get_full_name users.username %} </td>
                      <td style="width: 100px;">{{users.first_name}} </td>
                      <td style="width: 100px;">{{users.last_name}} </td>
                      <td style="width: 100px;">{{users.userprofile.get_team_name}} </td> 
                     
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
        </div>
    </div>



    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Articles Display</h2>
        <div class="table-responsive">
        <table class="data-table table nowrap">
            <thead>
                <tr>
                    <th ">Article Cover</th>
                    <th class="table-plus datatable-nosort">Article Code</th>
                    
                    <th>Article Title</th>
                    <th>Published By</th>
                    <th>Article Category </th>
                    <th>Article Summary</th>
                    <th>Article Volume</th>
                    <th>Article Publication Date</th>
                    
                    
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for items in articles %}
                <tr>
                    <td class="table-plus">
                        <img src="{{items.get_art_cover}}" width="70" height="70" alt="">
                    </td>
                    <td>
                        {{items.art_code}}
                    </td>
                    <td>
                        <h5 class="font-16">{{items.art_title}}</h5>
                    </td>
                    <td>{{items.art_publisher}}</td>
                    <td>{{items.art_category}}</td>
                    <td>{{items.art_description}} </td>
                    <td>{{items.art_volume}} </td>
                    <td>{{items.art_date}}</td>
                    
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        </div>
    </div>
  


<script src="{% static 'admin2/src/plugins/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'admin2/src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'admin2/src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'admin2/src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'admin2/src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'admin2/vendors/scripts/dashboard.js' %}"></script>
{% endblock content %}