
{% extends 'userprofile/admin2/base.html' %}
{% load static %}

{% block title %} Manage Articles |
  
{% endblock title %}

{% block content %}

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Navigation Guide</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Manage Articles</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown">
								<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									Choose
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="{% url 'add_articles_admin' %}">Add Article</a>
									<a class="dropdown-item" href="https://www.google.com">Policies</a>
									<a class="dropdown-item" href="#">View Assets</a>
								</div>
							</div>
						</div>
					</div>
				</div>
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    
                    {% for message in messages %}
                        <div class="notification is-info"> {{ message }} </div>
                    {% endfor %}
              
                
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				{% endif %}
                   

            <!-- Responsive tables Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Articles table</h4>
                        <p>This Table Show various articles with actions to be done on them </p>
                    </div>
                
                </div>
                <div class="table-responsive pb-20">
                    <table class="data-table table hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Article Cover</th>
                                <th >Article Code</th>
                                
                                <th>Article Title</th>
                                <th>Published By</th>
                                <th>Article Category </th>
                               
                                <th>Article Volume</th>
                                <th>Article Publication Date</th>
                                
                                
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for items in articles %}
                            <tr>
                                <td>
                                    <img src="{{items.get_art_cover}}" width="70" height="70" alt="">
                                </td>
                                <td>
                                    {{items.art_code}}
                                </td>
                                <td>
                                    <h5 class="font-16">{{items.art_title}}</h5>
                                </td>
                                <td>{{items.art_publisher}}</td>
                                <td>{{items.art_category}}</td>
                                
                                <td>{{items.art_volume}} </td>
                                <td>{{items.art_date}}</td>
                                
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                            <a class="dropdown-item" href="{% url 'edit_art_admin' items.art_code %}"><i class="dw dw-edit2"></i> Edit</a>
                                            <a class="dropdown-item" onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'del_art_admin' items.art_code %}"><i class="dw dw-delete-3"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  


{% endblock content %}

