{% load static %}

	
    <div class="header">
		<div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
			<div class="header-search">
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page"></li>
						<li class="breadcrumb-item active" aria-current="page"><b> Home</b></li>
						
					</ol>
				</nav>
			</div>
		</div>
		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon" style="width: 43px;">
							<img src="{{request.user.userprofile.get_avatar}}" alt="" >
						</span>
						<span class="user-name">{% firstof user.get_full_name user.username %}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="{% url 'edit_prof' %}"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item"  class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar"><i class="dw dw-settings2"></i> Setting</a>
						<a class="dropdown-item" href="#"><i class="dw dw-help"></i> Help</a>
						<a class="dropdown-item" href="#"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
