{% extends 'accounts/base.html' %}


{% block content %}

<h1 class = "text-center">Change Password </h1>


    <form method= "POST" action="{% url 'change_password' %}">
        
        {% if form.errors  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p> Your form has errors....</p>
            {% for field in form %}
            
                {% if form.errors  %}
                  {{field.errors}}

                {% endif %}

            {% endfor %}
            </div>
        {% endif %}
    
    {{form.as_p}}

    <button type="submit" class="btn btn-secondary">Change Password</button>
    </form>


{% endblock content %} 