{% extends 'accounts/base.html' %}


{% block content %}

<h1 class = "text-center">Edit Profile </h1>


    <form method= "POST" action="{% url 'edit_profile' %}">
        
        {% if form.errors  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p> Your form has errors....</p>
            {% for field in form %}
            
                {% if form.errors  %}
                  {{field.errors}}

                {% endif %}

            {% endfor %}
            </div>
        {% endif %}
    
    {{form.as_p}}
    <button type="submit" class="btn btn-secondary">Edit Profile</button>
            </br> <p> <small> <a href = "{% url 'change_password' %}"> Click Here </a> to Change Your Password </small></p>

    </form>


{% endblock content %} 