{% extends 'accounts/base.html' %}

{% block content %}

<h2 class="text-center"> Login </h2>
<div class="col-md-6 offset-md-3">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">

       <input type="text" class="form-control" placeholder="Enter Username" name="username">
       </div>
        <div div class="mb-3">
         <input type="password" class="form-control" placeholder="Enter Password" name="password">
       </div>
 
       <button type="submit" class="btn btn-secondary">Login</button>

    </form>

</div>
{% endblock content %}