{% extends 'core/base.html' %}
{% load static %}

{% block title %}Plans |

{% endblock title %}

{% block content %}

<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> Plans</h1>
            <h2 class="subtitle">Find the Most Suitable plan for your team</h2> 
        </div>
    </div>
</section>

<div class="columns mt-6">
    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Free</p>
                        <p class="subtitle is-6">0 TND</p>
                    </div>
                </div>
                
                    <div class="content">
                       <ul>
                         <li>3 Projects</li>
                         <li>1 Member</li>
                          <li>10 Tasks per project</li>
                       </ul>

                        <hr>

                        <a href="#" class="button is-primary">Get Started</a>

                     </div>
                
            </div>
        </div>
    </div>

    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Basic</p>
                        <p class="subtitle is-6">20 TND</p>
                    </div>
                </div>
                
                    <div class="content">
                       <ul>
                         <li>5 Projects</li>
                         <li>3 Members</li>
                          <li>15 Tasks per project</li>
                       </ul>

                        <hr>

                        <a href="#" class="button is-primary">Get Started</a>

                     </div>
                
            </div>
        </div>
    </div>

    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Premium</p>
                        <p class="subtitle is-6">80 TND</p>
                    </div>
                </div>
                
                    <div class="content">
                       <ul>
                         <li>10 Projects</li>
                         <li>15 Member</li>
                          <li>30 Tasks per project</li>
                       </ul>

                        <hr>

                        <a href="#" class="button is-primary">Get Started</a>

                     </div>
                
            </div>
        </div>
    </div>

    <div class="column is-3">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Need More?</p>
                        <p class="subtitle is-6">? TND</p>
                    </div>
                </div>
                
                    <div class="content">
                       <ul>
                         <li>Need More Projects?</li>
                         <li>Need More Members?</li>
                          <li>Need More Tasks ?</li>
                       </ul>

                        <hr>

                        <a href="#" class="button is-primary">Contact US</a>

                     </div>
                
            </div>
        </div>
    </div>
</div>




{% endblock %}